<style>
    .banner {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 1px 4px 1px rgba(33, 33, 33, 0.2);
        overflow: hidden;
        display: flex;
        align-items: stretch;
        height: 168px;
        max-height: 162px;
        font-family: Inter, sans-serif;
    }

    .banner__image-wrapper {
        width: 386px;
        min-width: 180px;
        border-radius: 16px 0 0 16px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .banner__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .banner__text {
        padding: 25px 30px;
    }

    .banner__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin: 0 0 10px 0;
        color: #111827;
        max-height: 32px;
        max-width: 35ch;
        white-space: nowrap;
    }

    .banner__description {
        font-size: 16px;
        color: #6b7280;
        margin: 0 0 10px 0;
        line-height: 24px;
        overflow: hidden;
        max-width: 100ch;
    }

    .banner__button {
        color: #fff;
        background-color: #0278AB;
        border-radius: 8px;
        padding: 8px 20px;
        border: none;
        font-size: 16px;
        line-height: 20px;
        white-space: nowrap;
        cursor: pointer;
    }

    .banner__button:hover {
        background-color: #035C84;
    }

    .banner__button:active,
    .banner__button:focus-visible {
        background-color: #014667;
        cursor: pointer;
        outline: none;
    }
</style>

<div class="banner">
    <div class="banner__image-wrapper">
        <img src="" alt="Offer image" class="banner__image" />
    </div>
    <div class="banner__text">
        <p class="banner__title">banner Tile Offer Title</p>
        <p class="banner__description">banner tile offer description - Lorem ipsum dolor sit amet, consectetur...</p>
        <button class="banner__button">Offer button</button>
    </div>
</div>