<style>
    .carousel__button {
        color: #fff;
        background-color: #0278AB;
        border-radius: 8px;
        padding: 8px 20px;
        max-width: 200px;
        border: none;
        font-size: 16px;
        line-height: 20px;
        white-space: nowrap;
        cursor: pointer;
    }

    .carousel__button:hover {
        background-color: #035C84;
    }

    .carousel__button:active,
    .carousel__button:focus-visible {
        background-color: #014667;
        cursor: pointer;
        outline: none;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: #fff;
        gap: 24px;
        border-top: 1px solid #000000;
    }
</style>

<div class="footer">
    <div>title</div>
    <div class="carousel__button">Offer button</div>
</div>