<style>
    .SKU {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 1px 4px 1px rgb(33, 33, 33, 0.2);
        overflow: hidden;
        display: flex;
        align-items: stretch;
        height: 188px;
        max-height: 188px;
        font-family: inter, sans-serif;
    }

    .SKU__image-wrapper {
        width: 282px;
        display: flex;
        border-radius: 16px;
        min-width: 180px;
        flex-shrink: 0;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    .SKU__image {
        width: 80%;
        height: 80%;
        object-fit: cover;
        display: block;
    }

    .SKU__text {
        padding: 16px 30px;
    }

    .SKU__title {
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        margin: 0px 0px 2px 0px;
        color: #404040;
        max-height: 32px;
        max-width: 25ch;
        background-color: rgb(61, 255, 172, 0.32);
        text-wrap: nowrap;
        border-radius: 17px;
        padding: 3px 20px;
        display: inline-block;
    }

    .SKU__description {
        font-size: 14px;
        color: #6b7280;
        margin: 0px 0px 1px 0px;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
        max-width: 38ch;
    }

    .SKU__button {
        background-color: #fff;
        color: #0278AB;
        border: 1px solid #0278AB;
        border-radius: 8px;
        padding: 7px 19px;
        max-width: 200px;
        font-size: 16px;
        line-height: 20px;
        text-wrap: nowrap;
        cursor: pointer;
    }

    .SKU__button:hover {
        background-color: rgba(2, 120, 171, 0.05);
        color: #035C84;
        border: 1px solid #035C84;
    }

    .SKU__button:active,
    .SKU__button:focus-visible {
        background-color: rgba(2, 120, 171, 0.1);
        cursor: pointer;
        outline: none;
        color: #014667;
        border: 1px solid #014667;
    }

    .SKU__price {
        font-family: inter, sans-serif;
        margin: 0px 0px 20px 0px;
    }

    .SKU__old-price {
        position: relative;
        color: #999;
        margin-right: 10px;
        font-size: 16px;
        display: inline-block;
    }

    .SKU__old-price::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 103%;
        height: 1px;
        background: #999;
        transform: rotate(-12deg);
        transform-origin: center;
    }

    .SKU__new-price {
        color: #000;
        font-weight: bold;
        font-size: 20px;
    }

    @media (max-width: 600px) {
        .SKU {
            height: initial;
            max-height: initial;
            flex-direction: column;
        }

        .SKU__image-wrapper {
            height: 76px;
            margin: 20px 20px 0px 20px;
            width: initial;
            border-radius: initial;
            justify-content: flex-start;
        }

        .SKU__image {
            height: initial;
            width: initial;
            max-width: 150px;
            max-height: 100%;
            object-fit: cover;
            display: block;
        }

        .SKU__text {
            padding: 20px;
            position: relative;
        }

        .SKU__title {
            position: absolute;
            top: -76px;
            right: 20px;
        }

        .SKU__description {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #737373;
        }

        .SKU__button {
            margin-bottom: 10px;
        }
    }
</style>
<div class=SKU>
    <div class=SKU__image-wrapper> <img src={{image}} alt=Offer image class=SKU__image /> </div>
    <div class=SKU__text>
        <p class=SKU__title>{{title}}</p>
        <p class=SKU__description>{{description}}</p>
        <div class=SKU__price> <span class=SKU__old-price>{{oldPrice}}</span> <span class=SKU__new-price>{{newPrice}}</span>
        </div> <button class=SKU__button>{{buttonText}}</button>
    </div>
</div>